<!DOCTYPE html>
<html>

<head>
    <title>Nome do Jogo</title>
    <link rel="stylesheet" type="text/css" href="../styles/tema.css" />
</head>

<body>
    <main>
        <div id="personagem">
            <div class="cabeca">
                <div class="rosto">
                    <div class="olho"></div>
                    <div class="olho"></div>
                    <div class="nariz"></div>
                </div>
            </div>
            <div class="corpo"></div>
        </div>
    </main>
    <button class="mute">X</button>
    <footer></footer>
    <script src="../scripts/cenario1.js"></script>
    <audio loop id="tema">
        <source src="../assets/audios/tema.mp3" type="audio/mp3">
    </audio>
    <audio src="../assets/audios/pulo.mp3" id="pular"></audio>
</body>

</html>